<%= render "shared/flash" %>

<h1>Forecast</h1>

<%= form_with(method: 'get', local: true) do %>
  <%= label :address, "Enter your address" %><br>
  <%= text_field_tag(:address, @address, size: 80) %><br>
  <%= submit_tag("Submit") %>
<% end %>

<% if @data %>
  <table>
    <% @data.each do |data| %>
    <tr>
        <td><%= data["name"] %></td>
        <td><%= data["temperature"] %></td>

    </tr>
    <%end%>
  </table>
<% end %>

<% if @weather_cache_exist %>
  <ul> *** Please note that this information is from the cache ***
<% end %>

